<div id="drinks-index">
  <% @drinks.each_slice(4) do |drink| %>
    <div class="row">
      <% drink.each do |drink| %>
        <div class="col-md-3 col-sm-3">
        <h3><%= drink.name %></h3>
        <%= image_tag drink.image.url %>
        <%= link_to 'Read More', drink_path(drink), class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>