<% if params[:controller] == 'about' %>
  <div class="well">
    <h3>Drink For Tonight</h3>
    <ul>
      <li>Dariusz Zagożdżon</li></br>
      <i class="fab fa-github"></i><a href="https://github.com/dzagozdzon" target="_blank"> Github</a></br></br>
      <i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/dariusz-zagożdżon-b6a324154/" target="_blank"> Linkedin</a></br></br>
      <i class="fas fa-at"></i><a href="mailto:zagozdzond@gmail.com"> Email</br></br>
    </ul>
  </div>
<% end %>

<% if params[:controller] == 'drinks' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category.id), class:'list-group-item' %>
    <% end %>
</div>
<% end %>