<% if params[:controller] == 'about' %>
  <div class="well">
    <h3>Drink For Tonight</h3>
    <ul>
      <li>Dariusz Zagożdżon</li></br>
      <i class="fab fa-github"></i> Github</br></br>
      <i class="fab fa-linkedin"></i> Linkedin</br></br>
      <i class="fas fa-at"></i> Email</br></br>
    </ul>
  </div>
<% end %>

<% if params[:controller] == 'drinks' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category.id), class:'list-group-item' %>
    <% end %>
</div>
<% end %>