<h1><%= @page_title %></h1>
<p>Information about me</p>

<div class="well">
  <h3>Drink For Tonight</h3>
  <ul>
    <li>Dariusz Zagożdżon</li>
    <li>Github</li>
    <li>Linkedin</li>
    <li>Email</li>
  </ul>
</div>